# Analisis Basico utilizando promedios historicos

En este apartado se revisar√° brevemente como obtener una prediccion por cuadrante utilizando las velocidades promedios de la data historica

In [1]:
import pandas as pd
import glob, os

# Obtenemos los archivos a importar
historic_files = glob.glob(os.path.join(os.path.dirname(os.getcwd())+ '/historic data/01-20190312T042227Z-001/01/Datos GPS/Datos GPS 200x200 (2018)', "*.csv"))

# Importamos los archivos con la data historica
historic_data_headers = ["id_Arco", "id_Cuadrante", "Nombre_Comuna", "Fecha", "Hora", "Velocidad_Promedio", "N_puntos", "N_vehiculos"]
historic_data = pd.DataFrame(columns=historic_data_headers)

for file in historic_files:
    data = pd.read_csv(file, delimiter=';')
    historic_data = historic_data.append(data)

historic_data.head(5)

,id_Arco,id_Cuadrante,Nombre_Comuna,Fecha,Hora,Velocidad_Promedio,N_puntos,N_vehiculos
0,25751767,14413,Lampa,13-11-2018,15:15:00,28,1,1
1,24444592,41659,Santiago,23-08-2018,18:00:00,18,1,1
2,30679885,7608,Colina,16-04-2018,11:30:00,57,1,1
3,388587252,34497,Renca,14-05-2018,10:15:00,102,1,1
4,194278123,34528,Providencia,02-02-2018,07:00:00,5,1,1

In [2]:
# Dividimos data por arco-velocidad y cuadrante-velocidad
basic_prediction_data = historic_data[["id_Arco", "id_Cuadrante", "Velocidad_Promedio"]]

# Transformamos al tipo de dato correspondiente
basic_prediction_data["Velocidad_Promedio"] = pd.to_numeric(basic_prediction_data["Velocidad_Promedio"])

basic_prediction_data.head(5)

C:\Users\Bastolo\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

     id_Arco id_Cuadrante  Velocidad_Promedio
0   25751767        14413                  28
1   24444592        41659                  18
2   30679885         7608                  57
3  388587252        34497                 102
4  194278123        34528                   5

In [3]:
# Agrupamos por cuadrante (operacion mas basica)
basic_prediction_data.groupby("id_Cuadrante").mean()

              Velocidad_Promedio
id_Cuadrante
41                     52.000000
92                     10.000000
93                     21.500000
94                     23.666667
95                     23.000000
96                     41.000000
119                    43.325581
120                    32.871795
121                    40.437500
122                    62.333333
123                    57.818182
124                    29.500000
125                    47.727273
126                    47.347826
127                    24.333333
128                    36.000000
129                    19.833333
131                    58.250000
147                    70.857143
430                    10.500000
431                    20.000000
432                    23.000000
433                    18.400000
436                     7.000000
455                    15.000000
457                    27.000000
459                    49.800000
460                    64.392857
467                     5.000000
469                    19.388889
...                          ...
74969                 109.375000
74970                 108.974359
74984                  12.000000
74991                   6.000000
75191                  77.100000
75207                  52.000000
75210                 107.304348
75211                  41.000000
75255                  88.000000
75283                  17.352941
75284                  87.764184
75309                 103.204545
75324                  10.250000
75531                  73.000000
75549                  93.000000
75550                  91.000000
75624                  46.287500
75648                 109.681818
75649                 110.307692
75664                   7.000000
75870                  63.000000
75871                  74.000000
75889                 109.750000
75940                  54.000000
75964                  37.615385
75988                  93.000000
76210                  68.000000
76228                 103.470588
76284                  81.000000
76304                  84.027778

[12129 rows x 1 columns]

In [4]:
# Agrupamos por cuadrante y arco
basic_prediction_data.groupby(["id_Cuadrante", "id_Arco"]).mean()

                        Velocidad_Promedio
id_Cuadrante id_Arco
41           126000782           52.000000
92           163825396           10.000000
93           86226506            19.000000
             163825399           22.333333
94           86226495             9.000000
             86226499            16.000000
             163825399           46.000000
95           163825399           23.000000
96           86226494            41.000000
119          41906226            72.666667
             48667694            34.071429
             48667701            44.571429
             255327795           75.800000
120          28599679            34.076923
             48667697            17.666667
             48667699            33.000000
             48667700            46.000000
121          28599679            38.000000
             184232341            8.000000
             232586200           47.857143
122          232586200           62.333333
123          232586200           57.818182
124          232586202           29.500000
125          232586202           47.727273
126          232586202           47.347826
127          232586195            6.333333
             232586202           27.333333
128          232586202           36.000000
129          232586202           20.956522
             232586204           19.135135
...                                    ...
75309        32545363           110.555556
             141793045           57.500000
75324        47546530            10.250000
75531        126820300           73.000000
75549        172666577           93.000000
75550        172666577           91.000000
75624        15736758           109.210526
             30412001            19.000000
             105426376           24.584906
             255700904           76.666667
75648        32545363           109.681818
75649        28320208           109.000000
             32545363           112.400000
75664        47546530             7.000000
75870        126820300           63.000000
75871        126820300           74.000000
75889        41430914           109.750000
75940        28600356            54.000000
75964        15736758           102.000000
             30412000            21.000000
             105426376           36.100000
             255700904            5.000000
75988        32545363            93.000000
76210        126820300           68.000000
76228        41430914           101.000000
             172666577          122.000000
76284        28600356            81.000000
76304        15736758           111.250000
             105426376           51.843750
             255700904          109.611111

[39769 rows x 1 columns]